*{
	margin:0; 
	box-sizing: border-box; 
}
#testata{
    background-image: url("../img/pattern.png");
    height: 150px;
    background-color: rgb(9, 115, 253);
}
#logo{
    width:15%;
    margin-top: 70px;
    margin-left: 10px;
}

#titolo{
    font-size: 40px;
    font-weight: 900;
}

#booleaners{
    color:rgb(22, 144, 201);
}

#sottotitolo, h4{
    color:darkgray;
    font-weight: bolder;
}

#data, figcaption{
    font-size: smaller;
}


.evidenziato{
    background-color: yellow;
}

ul {
    list-style-position:inside;
    padding-left: 0;
  }

table{
    border-collapse: collapse;

}

thead{
    background-color: rgb(5, 117, 168);
    color:white;
}

.sfondoalternato{
    background-color: lightblue;
}

th, td {
    text-align: left;
    padding-right: 50px;
}

.immaginefooter {
    height: 220px;
    width: 280px;
    padding: 10px;
    font-size: 20px;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
}

#monitor {
    background-image: url("../img/monitor.jpg");
}

#graph{
    background-image: url("../img/graph.jpg");
}
