*{
	margin:0; 
	box-sizing: border-box; 
}

#titolo{
    font-size: 40px;
    font-weight: 900;
}

#booleaners{
    color:rgb(22, 144, 201);
}

#sottotitolo{
    color:darkgray;
    font-weight: bolder;
}

#data, figcaption{
    font-size: smaller;
}


.evidenziato{
    background-color: yellow;
}

ul {
    list-style-position:inside;
    padding-left: 0;
  }

table{
    border-collapse: collapse;

}

thead{
    background-color: rgb(5, 117, 168);
    color:white;
}

.sfondoalternato{
    background-color: lightblue;
}

th, td {
    text-align: left;
    padding-right: 50px;
}


